// These colors are specific to the theme. Do not use in a package!

// Set Color Variables

// neutrals
@twine:         #d6d6d6;
@smokey:        #828280;
@dark-gray:     #555555;
@slate:         #2e2e2e;

// reds
@red-light:     lighten(@red-base, 15%);
@red-base:      #cf523f;
@red-dark:      darken(@red-base, 10%);

// oranges
@orange-light:  lighten(@orange-bright, 20%);
@orange-bright: #ff982d;
// @orange-base:   #d3701f;
@orange-base:   #d47c35;
// @orange-base:   #FFCB6B;
@orange-dark:   darken(@orange-bright, 20%);

// yellows
@wheat:         lighten(@latte, 20%);
@latte:         #e5b567;
// @latte:         #FFCB6B;

// greens
@green-light:   lighten(@green-base, 17%);
@green-base:    #9fbe6e;
@green-dark:    darken(@green-base, 15%);

// blues
@blue-light:    lighten(@blue-base, 20%);
@blue-base:     #6a99bb;
@blue-dark:     darken(@blue-base, 10%);
@blue-darkest:  #374752;

// purples
@purple-light:  lighten(@purple-base, 10%);
// @purple-base:   #b294bb;
@purple-base:   #C792EA;
@purple-dark:   #90516b;

// some from https://github.com/equinusocio/material-theme
